.controls-wrapper {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.action-btn {
  width: 50px;
  height: 50px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.action-btn:hover {
  transform: scale(1.1);
}

.play-pause-btn {
  width: 70px;
  height: 70px;
  display: flex;
  border-radius: 50%;
  background-color: #c96850;
  align-items: center;
  justify-content: center;
  box-shadow: inset -4px -4px 10px #55291e, inset 4px 4px 10px #ffae9a;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.play-pause-btn.active {
  box-shadow: inset -4px -4px 10px #ff8769, inset 4px 4px 10px #753d30;
}

.play-pause-btn:hover {
  transform: scale(1.1);
}
